* {
     font-family: 'Roboto', sans-serif;
    text-align: left;
  }



  .skeleton-card {
      background: white;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 10px;
      margin-bottom: 20px;
  }

  @media (max-width: 1024px) {
    .skeleton-card {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }

  @media (max-width: 768px) {
    .skeleton-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  .skeleton {
      background-color: #e0e0e0;
      border-radius: 4px;
      animation: pulse 1.5s infinite ease-in-out;
  }

  .skeleton-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 20px 20px 0 0;
  }

  .skeleton-meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }

  .skeleton-icon {
      width: 30px;
      height: 20px;
      background-color: #e0e0e0;
      border-radius: 4px;
  }

  .skeleton-description {
      width: 100%;
      height: 60px;
      margin-bottom: 10px;
      border-radius: 4px;
  }

  .skeleton-button {
      width: 120px;
      height: 40px;
      background-color: #d3d3d3;
      border-radius: 5px;
      margin-top: 10px;
      align-self: flex-end;
  align-items: center;
  }


  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }







  .first-paragraph {
    margin-top: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
  }

  .recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  }



  @media (max-width: 1024px) {
  .recipe-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  }

  @media (max-width: 768px) {
  .recipe-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  }



  .details-image {

      width: 100%;
      height: 151px;
      object-fit: cover;
      border-radius: 20px;
      }



  .recipe-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  }



  .recipe-description {
  flex-grow: 1;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #242326;
  margin-top: 9px;
  }





  .back-button {
      background: none;
      border: none !important;
      cursor: pointer;
      font-size: 1.5em;
      padding-bottom: 0px;
      display: flex;
      overflow: hidden;
      padding-left: 0px;
      color: #0f0f0f;

  }



  .back-button i {
      width: 21.33px;

  }

  .icon {
  width: 30px;
  margin-right: 8px;
  }

  @media (max-width: 480px) {
  .icon {
    width: 25px;
    margin-right: 6px;
  }
  }

  .etape-container {
      display: flex;
      flex-direction: column;
      padding: 10px;

  }




  @media (max-width: 768px) {
      .ingredients-title, .etape-title {
          font-size: 1.2em;
      }
      .ingredients, .etape-description {
          font-size: 0.9em;
      }
  }



  /* .recipe-details {
      padding: 1px;
  } */

  @media (max-width: 768px) {
    


      .recipe-meta span {
          margin-bottom: 5px;
      }

      .ingredients-title, .etape-title {
          font-size: 1.5em;
      }

      .ingredients, .etape-description {
          font-size: 0.9em;
      }
  }

  .ingredients{
      padding-left: 17px;
      margin-top: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      font-size: 12px !important;


  }


  .container {
      padding: 10px 18px!important;
  }

  .recipe-list h2 {
      font-size: 1.8em;
      font-weight: 700;
      margin-bottom: 0px;
      margin-top: 10px;
      font-size: 32px !important;
  }

  p {
      font-size: 1em;
      font-weight: 500;
      color: #79767D;
      /* margin-bottom: 10px; */
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
      .container {
          padding: 10px;
      }

      h2 {
          font-size: 1.5em;
          margin-bottom: 5px;
      }

      p {
          font-size: 0.9em;
      }

      .recipe-card, .skeleton-card {
          flex: 1 1 100%;
          max-width: 100%;
      }

      .recipe-meta span {
          font-size: 0.8em;
      }

      .recipe-description {
          font-size: 0.9em;
      }

      .discover-button {
          font-size: 0.9em;
      }

      .icon {
          width: 20px;
          margin-right: 5px;
      }
  }

  @media (max-width: 480px) {
      h2 {
          font-size: 1.3em;
      }

      p {
          font-size: 0.8em;
      }

      .recipe-card, .skeleton-card {
          margin-bottom: 15px;
      }

      .recipe-image, .details-image {
          height: 150px;
      }

      .recipe-meta span {
          font-size: 0.7em;
      }

      .discover-button {
          font-size: 0.8em;
      }
  }

  .recipe-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }

  .recipe-card {
      background: white;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
      display: flex;
      flex-direction: column;
  }

  @media (max-width: 1024px) {
      .recipe-card {
          flex: 1 1 calc(50% - 20px);
          max-width: calc(50% - 20px);
      }
  }

  @media (max-width: 768px) {
      .recipe-card {
          flex: 1 1 100%;
          max-width: 100%;
      }
  }

  .recipe-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }

  .details-image {
      width: 100%;
      height: 151px;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 2px;
  }

  .recipe-info {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
  }

  .recipe-meta {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

  }

  .recipe-meta span {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      font-weight: 500;
      color: #000000;
  }

  .recipe-meta span img {

       margin-top: -2px;
  }

  .recipe-meta-details {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;

  }

  .recipe-meta-details span {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      font-weight: 500;
      color: #79767D;
      padding: 15px;
  }

  .recipe-meta-details img {

       margin-top: -2px;
  }






  .recipe-description {
      flex-grow: 1;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #242326;
      margin-top: 9px;
  }

  .discover-button {
      background: transparent;
      color: #F16E00;
      border: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: flex;
      align-self: flex-end;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      padding: 0px;
  }

  .discover-button i {
      margin-left: 12px;
      color: #F16E00;
  }


  .nav {
      display: flex;
      align-items: center;
      padding: 10px 10px 5px 10px;

  }




  .ingredients-title, .etape-title {
      font-size: 1.5em;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 0px;
      padding-left: 17px;

  }

  .ingredients, .etape-description {
      font-size: 1em;
      line-height: 1.5;
  }

  .etape-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
  }



  .details-title {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 700;
  }

  .etape-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .etape-left {
    margin-right: 15px;
  }

  .etape-icon {
    width: 24px;
    height: 24px;
  }

  .etape-right {
    flex-grow: 1;
  }

  .etape-name {
    font-size: 16px;
    font-weight: 600;
    /* margin-bottom: 5px; */
    color: #000000;
  }

  .etape-description {
    font-size: 12px;
    color: #666;
    line-height: 16px;
    text-align: left;
    font-weight: 500;

  }

