*{
    font-family: 'Roboto', sans-serif;
}

.container {
  padding: 40px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.recipe-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(45% - 20px);
    max-width: calc(45% - 20px);
    display: flex;
    flex-direction: column;

  }

  @media (max-width: 768px) {
    .recipe-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

.recipe-image {
  width: 100%;
  height: auto;
}

.recipe-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.recipe-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.recipe-meta span {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.recipe-description {
  flex-grow: 1;
  margin-bottom: 10px;
}

.discover-button {
  background: transparent;
  color:#F16E00;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.discover-button i {
  margin-left: 5px;
  color: #F16E00;
  align-items: center;
}

@media (max-width: 768px) {
  .recipe-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.nav {
    display: flex;
    align-items: center;


  }

  .back-button {
    background: none;
    border: none !important;
    cursor: pointer;
    font-size: 2em;
     color: #0f0f0f;

  }

  .arrow {
    display: inline-block;
    transform: rotate(180deg);
  }

  .icon {
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    .recipe-card {
      flex: 1 1 100%;
      max-width: 100%;
    }

    .icon {
      width: 30px;
      margin-right: 8px;
    }
  }

  @media (max-width: 480px) {
    .icon {
      width: 25px;
      margin-right: 6px;
    }
  }
